.Slider {
}

.Slider .CarouselItem {
  line-height: 0 !important;
}

.Slider .CarouselItem .ImgWrap {
  height: 80vh;
}

.Slider .CarouselControlLeft {
  background: linear-gradient(left, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

.Slider .CarouselControlRight {
  background: linear-gradient(right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0));
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
