.Select > div > div {
  max-height: 1.1875em;
}

.SelectMenuItem {
  border-bottom: 2px dashed darkgray !important;
  border-top: 2px dashed darkgray !important;
  height: 100% !important;
  padding-bottom: 20px !important;
}

.SelectMenuItem:last-child {
  border-bottom: 2px dashed darkgray !important;
}

.TotalPriceWrapper {
  position: relative;
}

.PromoCodeDiscount {
  position: absolute;
  display: inline-block;
  top: 110%;
  left: -28px;
  width: 125px;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
}

@media (min-width: 591px) {
  .PromoCodeDiscount {
    position: absolute;
    left: -10%;
  }
}
